<div class="card">
  <div class="front">
    <p> Minimum Temperature:: {{ temp_min }}</p>
    <p>Maximum Temperature:: {{ temp_max }}</p>
    <p>Pressure:: {{ pressure }}</p>
    <p>Humidity::{{ humidity }}</p>
    <p> Wind Speed:: {{ wind_speed }}</p>
  </div>
  <div class="back">
    What Else do you want man !!!
  </div>
</div>